<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.web>
		<httpRuntime enableVersionHeader="false" />
	</system.web>
	<system.webServer>
<staticContent>
      <remove fileExtension=".mjs" />
      <mimeMap
        fileExtension=".mjs"
        mimeType="application/javascript" />
    </staticContent>

		<security>
			<requestFiltering removeServerHeader="true" />
			
		</security>
		<rewrite>

			<rules>

				<rule name="reHttps" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>


				<rule name="ReactRoutes" stopProcessing="true">
					<match url=".*" />

					<conditions logicalGrouping="MatchAll">
						<!-- API no rewrite-->
						<add input="{REQUEST_URI}" pattern="^/api(/|$)" negate="true" />

						<!-- appDepo no rewrite-->
						<add input="{REQUEST_URI}" pattern="^/AppDepo(/|$)" negate="true" />

						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>

					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
		
	</system.webServer>
</configuration>
