@theme {

    /* Colors */
  

  

     
      --color-yellow: #F4C300;
      --color-green-yellow: #004E5B;
      --color-primary:rgba(19, 19, 19);
      --color-error:rgba(199, 12, 12);
   

  
    /* Font Size */
    --font-family:'Ilight';
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-md: 18px;
    --text-lg: 20px;
    --text-xl: 24px;
  
  }
